<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>PastScreen-CN</string>
	<key>CFBundleDisplayName</key>
	<string>PastScreen-CN</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.7</string>
	<key>CFBundleVersion</key>
	<string>11</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>PastScreen-CN 需要使用 Apple 事件来注册全局快捷键。</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>PastScreen-CN 需要屏幕录制权限来进行截图。</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>PastScreen-CN 会显示通知来确认截图完成。</string>
	<key>SUAllowsAutomaticUpdates</key>
	<true/>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/augiefra/PastScreen/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>0kgGfpfzDCMIcKXLqaNbUM+p14CHFGib3GqG3FtCOSk=</string>
</dict>
</plist>
