#include "Base.xcconfig"

SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG APPSTORE
SWIFT_OPTIMIZATION_LEVEL = -Onone
GCC_OPTIMIZATION_LEVEL = 0
DEBUG_INFORMATION_FORMAT = dwarf
COPY_PHASE_STRIP = NO
ENABLE_TESTABILITY = YES
ENABLE_PREVIEWS = YES
ONLY_ACTIVE_ARCH = YES
VALIDATE_PRODUCT = NO
MTL_ENABLE_DEBUG_INFO = INCLUDE_SOURCE
